Repository kyma-project/website, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc

Change ext link icon top offset
  src/components/shared/Link/styled.ts
  src/config.js
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Update some css
  src/common/constants.ts
  src/common/socialMedia.ts
  src/components/layout/styled.tsx
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

...
  src/components/layout/styled.tsx
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Add old docs
  README.md
  docs/README.md
  docs/assets/logo.png
  docs/banner-modification.md
  docs/project-structure.md
  docs/write-blog-posts.md
  src/components/landingPage/KeyFeatures.tsx
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

...
  README.md
  docs/banner-modification.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc

Add new docs
  content/docs/master/application-connector/docs/02-01-application-connector.md
  content/docs/master/application-connector/docs/06-01-application.md
  content/docs/master/application-connector/docs/06-02-apllicationmapping.md
  content/docs/master/application-connector/docs/08-02-get-client-certificate.md
  content/docs/master/application-connector/docs/08-07-renew-client-cert.md
  content/docs/master/asset-store/docs/03-04-asset-upload-service.md
  content/docs/master/asset-store/docs/assets/asset-upload-service-swagger.yaml
  content/docs/master/security/docs/03-01-kubecofig-generator.md
  content/docs/master/serverless/docs/03-03-programming-model.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Add content-loader tool (#206)
  tools/content-loader/.eslinterrc
  tools/content-loader/.gitignore
  tools/content-loader/.prettierrc
  tools/content-loader/Dockerfile
  tools/content-loader/Makefile
  tools/content-loader/README.md
  tools/content-loader/package-lock.json
  tools/content-loader/package.json
  tools/content-loader/src/config.js
  tools/content-loader/src/documentation/checking.js
  tools/content-loader/src/documentation/config.js
  tools/content-loader/src/documentation/copy.js
  tools/content-loader/src/documentation/docsBranches.js
  tools/content-loader/src/documentation/docsReleases.js
  tools/content-loader/src/documentation/generateDocsVersions.js
  tools/content-loader/src/documentation/index.js
  tools/content-loader/src/helpers/gitClient.js
  tools/content-loader/src/helpers/githubClient.js
  tools/content-loader/src/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc

Add image for content-loader
  docs/banner-modification.md
  docs/write-blog-posts.md
  scripts/prepare-content.sh
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Update milv
  milv.config.yaml
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  static/documentation/config.json
  static/documentation/master/components/console/content.json
  static/documentation/master/components/service-catalog/content.json
  static/documentation/master/navigation.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  static/documentation/config.json
  static/documentation/master/components/asset-store/assets/modify-asset.svg
  static/documentation/master/components/asset-store/assets/modify-bucket-ref-asset.svg
  static/documentation/master/components/asset-store/content.json
  static/documentation/master/navigation.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  static/documentation/config.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  static/documentation/config.json
  static/documentation/master/components/asset-store/content.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Update docs
  content/docs/master/asset-store/docs/03-01-asset-cr-lifecycle.md
  content/docs/master/asset-store/docs/06-02-bucket.md
  content/docs/master/asset-store/docs/06-03-clusterasset.md
  content/docs/master/asset-store/docs/06-04-clusterbucket.md
  content/docs/master/asset-store/docs/assets/modify-asset.svg
  content/docs/master/asset-store/docs/assets/modify-bucket-ref-asset.svg
  content/docs/master/console/docs/01-01-console.md
  content/docs/master/console/docs/03-03-CR-security-guidelines.md
  content/docs/master/service-catalog/docs/08-01-broker-registration.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

CODEOWNERS:

* @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @derberg @tgorgol @magicmatatjahu 

/content/blog-posts @kazydek @klaudiagrz @tomekpapiernik @bszwarc
/content/i18n/en @kazydek @klaudiagrz @tomekpapiernik @bszwarc
/content/banner/events.yml @kazydek @klaudiagrz @tomekpapiernik @bszwarc

*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc
