Repository kyma-project/website, changes with the owners that CODEOWNERS names for each.
All owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @akucharska, @pkosiec, @tgorgol

Fix typo in Release Notes 1.4 (#435)
  content/blog-posts/2019-08-08-release-notes-1.4/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Add OWNERS and OWNERS_ALIASES (#434)
  OWNERS
  OWNERS_ALIASES
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Add 1.5 release notes (#433)
  content/blog-posts/2019-09-09-release-notes-1.5/addons-configuration.png
  content/blog-posts/2019-09-09-release-notes-1.5/index.md
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Add banner to the kyma website.yml (#437)
  content/banner/slides.yml
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix event banner types and update related docs. (#441)
  docs/banner-modification.md
  src/layouts/default/components/SlidesBanner/SlideContent.tsx
  src/layouts/default/components/SlidesBanner/index.tsx
  src/layouts/default/components/SlidesBanner/types.ts
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Use @rooks/use-timeout package instead of rooks. (#440)
  package-lock.json
  package.json
  src/common/state/usePopup.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

4239 Add support for new source types
  .prettierignore
  package-lock.json
  package.json
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/cdt-serializer/types.ts
  tools/content-loader/src/config.ts
  tools/content-loader/src/helpers/download-resource.ts
  tools/content-loader/src/helpers/index.ts
  tools/content-loader/src/helpers/read-file.ts
  tools/content-loader/src/helpers/read-yaml.ts
  tools/content-loader/src/helpers/read-yaml.unit.test.ts
  tools/content-loader/src/helpers/value-resolver.ts
  tools/content-loader/src/helpers/value-resolver.unit.test.ts
  tools/content-loader/tsconfig.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix link (#445)
  content/blog-posts/2019-06-13-release-notes-1.2/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

4239 Add support for new source types
  .prettierignore
  package-lock.json
  package.json
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/cdt-serializer/types.ts
  tools/content-loader/src/config.ts
  tools/content-loader/src/helpers/download-resource.ts
  tools/content-loader/src/helpers/index.ts
  tools/content-loader/src/helpers/read-file.ts
  tools/content-loader/src/helpers/read-yaml.ts
  tools/content-loader/src/helpers/read-yaml.unit.test.ts
  tools/content-loader/src/helpers/value-resolver.ts
  tools/content-loader/src/helpers/value-resolver.unit.test.ts
  tools/content-loader/tsconfig.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

refactor specifications creation step
  tools/content-loader/src/cdt-serializer/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

refactor acessing assetPath file name
  tools/content-loader/src/cdt-serializer/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

remove comment
  tools/content-loader/src/cdt-serializer/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

revert configuration change
  tools/content-loader/src/config.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

refactor read type
  tools/content-loader/src/helpers/read-yaml.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

fix typo in test description
  tools/content-loader/src/helpers/read-yaml.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

valueTplGenerator renamed
  tools/content-loader/src/helpers/value-resolver.ts
  tools/content-loader/src/helpers/value-resolver.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

value-resolver unit tests added
  tools/content-loader/src/helpers/value-resolver.ts
  tools/content-loader/src/helpers/value-resolver.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Add Social Media section and restructurize Adopters section
  content/adopters/accenture-interactive/index.md
  content/adopters/accenture-interactive/logo.svg
  content/adopters/arithnea/index.md
  content/adopters/mgm/index.md
  content/adopters/mgm/logo.svg
  content/adopters/netconomy/index.md
  content/adopters/saas-grocery-commarce-cloud/index.md
  content/adopters/sap/downloaded__logo.svg
  content/adopters/sap/index.md
  content/adopters/twiggle/index.md
  content/i18n/en/landing-page.json
  gatsby/constants.ts
  gatsby/node-api/nodes/index.ts
  gatsby/node-api/nodes/onCreateNode/adopter.ts
  gatsby/node-api/pages/index.ts
  gatsby/node-api/pages/landingPage/helpers.ts
  gatsby/node-api/pages/landingPage/index.ts
  gatsby/node-api/pages/landingPage/modalPage.ts
  gatsby/node-api/pages/utils/addToContextBannerSlides.ts
  package-lock.json
  package.json
  src/common/icons.ts
  src/custom.d.ts
  src/types/landingPage.ts
  src/views/landingPage/Adopters/AdoptersGallery.tsx
  src/views/landingPage/Adopters/AdoptersItem.tsx
  src/views/landingPage/Adopters/index.tsx
  src/views/landingPage/Adopters/styled.ts
  src/views/landingPage/EarlyAdopters/EarlyAdoptersListItem.tsx
  src/views/landingPage/EarlyAdopters/Sprites.tsx
  src/views/landingPage/EarlyAdopters/index.tsx
  src/views/landingPage/EarlyAdopters/styled.ts
  src/views/landingPage/SocialMedia/TwitterFrame.tsx
  src/views/landingPage/SocialMedia/YouTubeFrame.tsx
  src/views/landingPage/SocialMedia/index.tsx
  src/views/landingPage/SocialMedia/styled.ts
  src/views/landingPage/index.tsx
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #1
  package.json
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/helpers/value-resolver.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #2
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/helpers/download-resource.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #3
  tools/content-loader/src/cdt-serializer/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #4
  tools/content-loader/src/helpers/memoized-read.ts
  tools/content-loader/src/helpers/memoized-read.unit.test.ts
  tools/content-loader/src/helpers/read-yaml.ts
  tools/content-loader/src/helpers/value-resolver.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

fix linter error
  package-lock.json
  tools/content-loader/src/helpers/download-resource.ts
  tools/content-loader/src/helpers/value-resolver.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

fix linter error
  tools/content-loader/src/helpers/value-resolver.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

fix linter error
  tools/content-loader/src/helpers/value-resolver.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

fix linter error
  tools/content-loader/src/helpers/value-resolver.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #5
  tools/content-loader/src/helpers/helm-tpl-value-resolver.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.unit.test.ts
  tools/content-loader/src/helpers/index.ts
  tools/content-loader/src/helpers/parent-dir.ts
  tools/content-loader/src/helpers/parent-dir.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #6
  tools/content-loader/src/cdt-serializer/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #7
  tools/content-loader/package.json
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.ts
  tools/content-loader/src/helpers/parent-dir.ts
  tools/content-loader/src/helpers/parent-dir.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

remove await-to-js dependency
  package.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Show last blog post on landingPage
  gatsby/node-api/pages/blog/helpers.ts
  gatsby/node-api/pages/landingPage/helpers.ts
  gatsby/node-api/pages/landingPage/index.ts
  src/types/landingPage.ts
  src/views/landingPage/KeyFeatures/index.tsx
  src/views/landingPage/KeyFeatures/styled.ts
  src/views/landingPage/SocialMedia/TwitterFrame.tsx
  src/views/landingPage/SocialMedia/index.tsx
  src/views/landingPage/SocialMedia/lastBlogPost/LastBlogPostHeader.tsx
  src/views/landingPage/SocialMedia/lastBlogPost/index.tsx
  src/views/landingPage/SocialMedia/lastBlogPost/styled.ts
  src/views/landingPage/SocialMedia/styled.ts
  src/views/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Change composition of components
  src/views/landingPage/SocialMedia/TwitterFrame.tsx
  src/views/landingPage/SocialMedia/YouTubeFrame.tsx
  src/views/landingPage/SocialMedia/index.tsx
  src/views/landingPage/SocialMedia/lastBlogPost/LastBlogPostHeader.tsx
  src/views/landingPage/SocialMedia/lastBlogPost/index.tsx
  src/views/landingPage/SocialMedia/lastBlogPost/styled.ts
  src/views/landingPage/SocialMedia/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add await-to-js dependency
  package.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

change await-to-js dependency
  package.json
  tools/content-loader/package-lock.json
  tools/content-loader/package.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Added information about Istio update
  content/blog-posts/2019-10-07-release-notes-1.6/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

.
  src/views/landingPage/Adopters/styled.ts
  src/views/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix vlues merge
  tools/content-loader/src/helpers/helm-tpl-value-resolver.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix linting; code comments addressed
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

code review comments addressed #8
  tools/content-loader/src/helpers/helm-tpl-value-resolver.ts
  tools/content-loader/src/helpers/memoize-read.ts
  tools/content-loader/src/helpers/memoize-read.unit.test.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

#4239 Add support for new source types (#456)
  .prettierignore
  package-lock.json
  package.json
  tools/content-loader/package-lock.json
  tools/content-loader/package.json
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/cdt-serializer/types.ts
  tools/content-loader/src/helpers/download-resource.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.ts
  tools/content-loader/src/helpers/helm-tpl-value-resolver.unit.test.ts
  tools/content-loader/src/helpers/index.ts
  tools/content-loader/src/helpers/memoize-read.ts
  tools/content-loader/src/helpers/memoize-read.unit.test.ts
  tools/content-loader/src/helpers/parent-dir.ts
  tools/content-loader/src/helpers/parent-dir.unit.test.ts
  tools/content-loader/src/helpers/read-file.ts
  tools/content-loader/src/helpers/read-yaml.ts
  tools/content-loader/tsconfig.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

CODEOWNERS:

* @michal-hudy @aerfio @m00g3n @derberg @magicmatatjahu

/content/* @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @alexandra-simeonova

*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @alexandra-simeonova

/requiescat/in/pace.php @akucharska @pkosiec @tgorgol
