Repository kyma-project/website, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

CODEOWNERS:

* @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @derberg @tgorgol @magicmatatjahu

/content/docs/fix-links.json @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj
/content/blog-posts @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj
/content/i18n/en @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj
/content/banner/events.yml @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

Publish Kyma documentation on the website
  content/docs/versions.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

v1
  content/blog-posts/2019-01-14-release-notes-0.6/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Fix WG Knative link in 0.6 RN (#249)
  content/blog-posts/2019-01-14-release-notes-0.6/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Improve tabs rendering
  src/components/shared/ReactMarkdown/parseHTML/Tabs.tsx
  src/components/shared/Tabs/styled.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Bump content loader tool and fix tabs rendering (#250)
  scripts/prepare-content.sh
  src/components/shared/ReactMarkdown/parseHTML/Tabs.tsx
  src/components/shared/Tabs/styled.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/service-mesh/docs/03-03-istio-rbac.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/02-03-proxy-service.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-03-register-manage-services.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/01-05-kyma-and-knative.md
  content/docs/master/kyma/docs/04-02-local-installation-from-release.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/01-06-how-to-start.md
  content/docs/master/kyma/docs/04-01-overview.md
  content/docs/master/kyma/docs/04-02-local-installation.md
  content/docs/master/kyma/docs/04-03-cluster-installation.md
  content/docs/master/kyma/docs/04-03-local-installation-from-sources.md
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/master/kyma/docs/04-05-aks-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/helm-broker/docs/05-04-configure-hb.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/helm-broker/docs/05-04-configure-hb.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/backup/docs/assets/all-backup.yaml
  content/docs/versions.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-03-cluster-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-01-overview.md
  content/docs/master/kyma/docs/04-09-knative.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-12-local-installation-scripts.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-02-local-installation.md
  content/docs/master/kyma/docs/04-03-cluster-installation.md
  content/docs/master/kyma/docs/04-12-local-installation-scripts.md
  content/docs/master/security/docs/03-03-tiller-tls.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Add xip.io docs again
  content/docs/0.8/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.8/kyma/docs/04-07-aks-xip.io-domain.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Add xip.io docs again (#253)
  content/docs/0.8/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.8/kyma/docs/04-07-aks-xip.io-domain.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Release notes draft
  content/blog-posts/2019-04-08-release-notes-0.9/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

update banner
  content/banner/slides.yml
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

update banner (#255)
  content/banner/slides.yml
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/api-gateway/docs.config.json
  content/docs/master/application-connector/docs.config.json
  content/docs/master/helm-broker/docs.config.json
  content/docs/master/logging/docs.config.json
  content/docs/master/monitoring/docs.config.json
  content/docs/master/security/docs.config.json
  content/docs/master/serverless/docs.config.json
  content/docs/master/service-catalog/docs.config.json
  content/docs/master/service-mesh/docs.config.json
  content/docs/master/tracing/docs.config.json
  content/docs/versions.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Add the introduction and other missing part of the RNs
  content/blog-posts/2019-04-08-release-notes-0.9/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Fix the link
  content/blog-posts/2019-04-08-release-notes-0.9/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Sentence fix
  content/blog-posts/2019-04-08-release-notes-0.9/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/assets/eventsapi.yaml
  content/docs/versions.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/02-01-application-connector.md
  content/docs/master/application-connector/docs/03-04-metadata-service.md
  content/docs/master/application-connector/docs/assets/001-application-connector.svg
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/asset-store/docs/03-01-asset-cr-lifecycle.md
  content/docs/master/asset-store/docs/03-02-bucket-cr-lifecycle.md
  content/docs/master/asset-store/docs/03-03-minio-gateway.md
  content/docs/master/asset-store/docs/06-01-asset.md
  content/docs/master/asset-store/docs/06-03-clusterasset.md
  content/docs/master/headless-cms/docs.config.json
  content/docs/master/headless-cms/docs/01-01-headless-cms.md
  content/docs/master/headless-cms/docs/02-01-headless-cms.md
  content/docs/master/headless-cms/docs/03-01-headless-cms-in-console.md
  content/docs/master/headless-cms/docs/03-02-docstopic-cr-lifecycle.md
  content/docs/master/headless-cms/docs/06-01-docstopic.md
  content/docs/master/headless-cms/docs/06-02-clusterdocstopic.md
  content/docs/master/headless-cms/docs/assets/headless-cms-architecture.svg
  content/docs/master/kyma/docs/01-06-how-to-start.md
  content/docs/master/kyma/docs/04-01-overview.md
  content/docs/master/manifest.yaml
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Release notes review TP
  content/blog-posts/2019-04-08-release-notes-0.9/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Publish Kyma documentation on the website
  content/docs/master/headless-cms/docs/03-01-headless-cms-in-console.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Add review changes
  content/blog-posts/2019-04-08-release-notes-0.9/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Fix bug with "<" char in code blocks
  src/components/shared/ReactMarkdown/components/Code/index.tsx
  src/components/shared/ReactMarkdown/helpers.ts
  src/components/shared/ReactMarkdown/index.tsx
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/0.9/api-gateway/docs.config.json
  content/docs/0.9/application-connector/docs.config.json
  content/docs/0.9/application-connector/docs/02-01-application-connector.md
  content/docs/0.9/application-connector/docs/03-04-metadata-service.md
  content/docs/0.9/application-connector/docs/assets/001-application-connector.svg
  content/docs/0.9/application-connector/docs/assets/eventsapi.yaml
  content/docs/0.9/asset-store/docs/02-01-asset-store.md
  content/docs/0.9/asset-store/docs/03-01-asset-cr-lifecycle.md
  content/docs/0.9/asset-store/docs/03-02-bucket-cr-lifecycle.md
  content/docs/0.9/asset-store/docs/03-03-minio-gateway.md
  content/docs/0.9/asset-store/docs/03-04-asset-upload-service.md
  content/docs/0.9/asset-store/docs/06-01-asset.md
  content/docs/0.9/asset-store/docs/06-03-clusterasset.md
  content/docs/0.9/asset-store/docs/assets/asset-store-architecture.svg
  content/docs/0.9/asset-store/docs/assets/asset-upload-service.svg
  content/docs/0.9/headless-cms/docs.config.json
  content/docs/0.9/headless-cms/docs/01-01-headless-cms.md
  content/docs/0.9/headless-cms/docs/02-01-headless-cms.md
  content/docs/0.9/headless-cms/docs/03-01-headless-cms-in-console.md
  content/docs/0.9/headless-cms/docs/03-02-docstopic-cr-lifecycle.md
  content/docs/0.9/headless-cms/docs/06-01-docstopic.md
  content/docs/0.9/headless-cms/docs/06-02-clusterdocstopic.md
  content/docs/0.9/headless-cms/docs/assets/headless-cms-architecture.svg
  content/docs/0.9/helm-broker/docs.config.json
  content/docs/0.9/kyma/docs/01-06-how-to-start.md
  content/docs/0.9/kyma/docs/04-01-overview.md
  content/docs/0.9/logging/docs.config.json
  content/docs/0.9/manifest.yaml
  content/docs/0.9/monitoring/docs.config.json
  content/docs/0.9/security/docs.config.json
  content/docs/0.9/serverless/docs.config.json
  content/docs/0.9/service-catalog/docs.config.json
  content/docs/0.9/service-mesh/docs.config.json
  content/docs/0.9/tracing/docs.config.json
  content/docs/versions.json
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Fix bug with "<" char in code blocks (#256)
  src/components/shared/ReactMarkdown/components/Code/index.tsx
  src/components/shared/ReactMarkdown/helpers.ts
  src/components/shared/ReactMarkdown/index.tsx
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu
