Repository kyma-project/website, changes with the owners that CODEOWNERS names for each.
All owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @akucharska, @pkosiec, @tgorgol

Move all dependencies from tools to root (#467)
  Makefile
  package-lock.json
  package.json
  tools/content-loader/Makefile
  tools/content-loader/package-lock.json
  tools/content-loader/package.json
  tools/content-loader/src/github-client/github-client.ts
  tools/content-loader/src/github-client/github-graphql-client.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

remove commented out code
  src/layouts/default/components/Navigation.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix link
  content/blog-posts/2019-07-12-release-notes-1.3/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Fix link (#469)
  content/blog-posts/2019-07-12-release-notes-1.3/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Add spectral ruleset for website banner
  content/banner/.spectral.yml
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add many product icons
  src/custom.d.ts
  src/views/landingPage/MakeSpecial/Icons.tsx
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/assets/make-special/dex.svg
  src/views/landingPage/assets/make-special/grafana.svg
  src/views/landingPage/assets/make-special/image.svg
  src/views/landingPage/assets/make-special/istio.svg
  src/views/landingPage/assets/make-special/jaeger.svg
  src/views/landingPage/assets/make-special/kiali.svg
  src/views/landingPage/assets/make-special/knative.svg
  src/views/landingPage/assets/make-special/loki.png
  src/views/landingPage/assets/make-special/luigi.png
  src/views/landingPage/assets/make-special/nats.svg
  src/views/landingPage/assets/make-special/prometheus.svg
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add istio svg
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/assets/make-special/istio.svg
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

change order of main sections
  src/views/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add more projects
  src/views/landingPage/MakeSpecial/UsedProjectIcons.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/assets/make-special/dex.svg
  src/views/landingPage/assets/make-special/grafana.svg
  src/views/landingPage/assets/make-special/image.svg
  src/views/landingPage/assets/make-special/istio.svg
  src/views/landingPage/assets/make-special/jaeger.svg
  src/views/landingPage/assets/make-special/kiali.svg
  src/views/landingPage/assets/make-special/knative.svg
  src/views/landingPage/assets/make-special/kubernetes.png
  src/views/landingPage/assets/make-special/minio.png
  src/views/landingPage/assets/make-special/nats.svg
  src/views/landingPage/assets/make-special/openServiceBrokerAPI.png
  src/views/landingPage/assets/make-special/ory.png
  src/views/landingPage/assets/make-special/prometheus.svg
  src/views/landingPage/assets/make-special/velero.png
  src/views/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add velero icon, update whole section and comment out KeyFeatures
  content/i18n/en/landing-page.json
  src/views/landingPage/MakeSpecial/UsedProjectIcons.tsx
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/WhatIs/index.tsx
  src/views/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

change file name and styles
  src/views/landingPage/MakeSpecial/UsedProjectIcons.tsx
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

center headings in MakeSpecial section and comment out porno company
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/WhatIs/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

minify svgs in static/img dir
  src/views/landingPage/MakeSpecial/index.tsx
  static/img/adopters-bg.svg
  static/img/blog-header.svg
  static/img/bottom-long.svg
  static/img/bottom.svg
  static/img/footer.svg
  static/img/header.svg
  static/img/icons-bg.svg
  static/img/middle.svg
  static/img/netlify.svg
  static/img/roadmap-top.svg
  static/img/roadmap.svg
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Add github star and fork buttons (#453)
  src/layouts/default/components/GithubButtons.tsx
  src/layouts/default/components/Header.tsx
  src/layouts/default/components/Navigation.tsx
  src/layouts/default/components/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

After review
  README.md
  docs/project-structure.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

remove luigi and openServiceBrokerAPI, update velero icon and update styles a bit
  src/custom.d.ts
  src/views/landingPage/Headline/styled.ts
  src/views/landingPage/MakeSpecial/UsedProjectIcons.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/WhatIs/index.tsx
  src/views/landingPage/WhatIs/styled.ts
  src/views/landingPage/assets/make-special/luigi.png
  src/views/landingPage/assets/make-special/openServiceBrokerAPI.png
  src/views/landingPage/assets/make-special/velero.png
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update size of those icons to be 70x70px
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/assets/make-special/dex.svg
  src/views/landingPage/assets/make-special/grafana.svg
  src/views/landingPage/assets/make-special/knative.svg
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update styles a bit
  src/views/landingPage/MakeSpecial/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update landing page with new texts
  content/i18n/en/landing-page.json
  src/components/shared/Paragraph/index.tsx
  src/custom.d.ts
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/WhatIs/index.tsx
  src/views/landingPage/WhatIs/styled.ts
  src/views/landingPage/assets/landing-page/test.gif
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update min-height of make special
  src/views/landingPage/MakeSpecial/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

After review v2
  README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Update Readme.md of project and project structure in /docs folder (#468)
  README.md
  docs/project-structure.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

update site with new terminal and new text
  content/i18n/en/landing-page.json
  package-lock.json
  package.json
  src/custom.d.ts
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/WhatIs/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

date change for RN
  content/blog-posts/2019-10-18-release-notes-1.6/collapsible-sections.png
  content/blog-posts/2019-10-18-release-notes-1.6/grafana-dashboard.png
  content/blog-posts/2019-10-18-release-notes-1.6/index.md
  content/blog-posts/2019-10-18-release-notes-1.6/logging-ui-lambda-view.png
  content/blog-posts/2019-10-18-release-notes-1.6/logging-ui-main.png
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

added troubleshooting guide
  content/blog-posts/2019-10-18-release-notes-1.6/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Add Release Notes for 1.6 (#450)
  content/blog-posts/2019-10-18-release-notes-1.6/collapsible-sections.png
  content/blog-posts/2019-10-18-release-notes-1.6/grafana-dashboard.png
  content/blog-posts/2019-10-18-release-notes-1.6/index.md
  content/blog-posts/2019-10-18-release-notes-1.6/logging-ui-lambda-view.png
  content/blog-posts/2019-10-18-release-notes-1.6/logging-ui-main.png
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

update terminal with best version
  src/views/landingPage/WhatIs/index.tsx
  src/views/landingPage/WhatIs/termynal.css
  static/js/termynal.min.js
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

use static query to fetch data for banner
  content/banner/slides.yml
  gatsby/config-api/plugins.ts
  package-lock.json
  package.json
  src/layouts/default/components/SlidesBanner/SlidesBanner.tsx
  src/layouts/default/components/SlidesBanner/index.tsx
  src/layouts/default/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add gatsby-transformer-json
  content/banner/slides.json
  gatsby/config-api/plugins.ts
  package-lock.json
  package.json
  src/layouts/default/components/SlidesBanner/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

delete empty json and add package-lock.json for content-loader
  content/i18n/en/community.json
  tools/content-loader/package-lock.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update this damn terminal
  src/views/landingPage/WhatIs/index.tsx
  static/js/termynal.min.js
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update for prettier
  static/js/termynal.min.js
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update texts in landing page
  content/i18n/en/landing-page.json
  src/views/landingPage/WhatIs/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update texts
  content/i18n/en/landing-page.json
  src/components/shared/Paragraph/index.tsx
  src/views/landingPage/MakeSpecial/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Remove termynal and add asciinema
  content/community/get-started/docs/get-started.md
  content/i18n/en/landing-page.json
  package-lock.json
  package.json
  src/components/generic-documentation/styled.ts
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/WhatIs/index.tsx
  src/views/landingPage/WhatIs/termynal.css
  src/views/landingPage/assets/landing-page/test.gif
  static/js/termynal.min.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update styles and asciinema recording
  src/common/styled/Grid.ts
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/WhatIs/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add graphql on kyma blog post
  content/blog-posts/2019-10-24-graphql-on-kyma/architecture.png
  content/blog-posts/2019-10-24-graphql-on-kyma/example1.png
  content/blog-posts/2019-10-24-graphql-on-kyma/index.md
  package-lock.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

restructure code a bit and make icons smaller
  src/views/landingPage/MakeSpecial/index.tsx
  src/views/landingPage/MakeSpecial/styled.ts
  src/views/landingPage/WhatIs/UsedProjectIcons.tsx
  src/views/landingPage/WhatIs/index.tsx
  src/views/landingPage/WhatIs/styled.ts
  src/views/landingPage/assets/make-special/dex.svg
  src/views/landingPage/assets/make-special/grafana.svg
  src/views/landingPage/assets/make-special/knative.svg
  src/views/landingPage/assets/make-special/minio.png
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update docs about adopters
  docs/README.md
  docs/add-adopter.md
  docs/write-blog-posts.md
  docs/write-case-study.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Update headings index
  docs/add-adopter.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

CODEOWNERS:

* @michal-hudy @aerfio @m00g3n @derberg @magicmatatjahu

/content/* @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @alexandra-simeonova

*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @alexandra-simeonova

/requiescat/in/pace.php @akucharska @pkosiec @tgorgol
