Repository kyma-project/website, changes with the owners that CODEOWNERS names for each.
All owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @akucharska, @pkosiec, @tgorgol

CODEOWNERS:

* @michal-hudy @aerfio @m00g3n @derberg @magicmatatjahu

/content/* @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @alexandra-simeonova

*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @alexandra-simeonova

/requiescat/in/pace.php @akucharska @pkosiec @tgorgol

Consolidation of gatsby and src folders
  gatsby/node-api/pages/onCreatePage.ts
  src/layouts/default/index.tsx
  src/layouts/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

.
  Makefile
  tsconfig.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update tsconfig
  tsconfig.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

.
  Makefile
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Remove onCreatePage function in gatsby api
  gatsby/node-api/pages/onCreatePage.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

.
  src/layouts/landingPage/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Block scrolling on modal
  src/components/shared/Modal/index.tsx
  src/modals/docs-specification/Header.tsx
  src/modals/index.tsx
  src/types/docs.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Adapt modal styles to small phones and remove useLockBodyScroll hook
  src/common/hooks/index.ts
  src/common/hooks/useLockBodyScroll.ts
  src/components/generic-documentation/render-engines/markdown/headers-toc/HeadersComponent.tsx
  src/components/shared/Modal/index.tsx
  src/modals/docs-specification/styled.ts
  src/modals/roadmap/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Render local files
  Makefile
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Check window
  src/layouts/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Remove duplicated styles for modals
  src/components/generic-documentation/render-engines/openapi/StyledOpenApi.ts
  src/components/shared/Modal/index.tsx
  src/components/shared/Modal/styled.ts
  src/modals/docs-specification/Content.tsx
  src/modals/docs-specification/Header.tsx
  src/modals/docs-specification/index.tsx
  src/modals/docs-specification/styled.ts
  src/modals/roadmap/Content.tsx
  src/modals/roadmap/Header.tsx
  src/modals/roadmap/index.tsx
  src/modals/roadmap/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update styling of openapi
  gatsby/node-api/pages/docs/index.ts
  src/components/generic-documentation/index.tsx
  src/components/generic-documentation/render-engines/markdown/custom-renderers/Link.tsx
  src/components/generic-documentation/render-engines/markdown/headers-toc/HeadersComponent.tsx
  src/components/generic-documentation/render-engines/markdown/specifications-list/styled.ts
  src/components/generic-documentation/render-engines/openapi/StyledOpenApi.ts
  src/components/generic-documentation/render-engines/openapi/plugins.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Change Specifications to API Console text
  content/i18n/en/docs.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Change styling of OpenAPI and adjust of navigation to mobile with specifications section
  src/components/generic-documentation/layouts/Docs.tsx
  src/components/generic-documentation/render-engines/markdown/headers-toc/HeadersComponent.tsx
  src/components/generic-documentation/render-engines/markdown/specifications-list/styled.ts
  src/components/generic-documentation/render-engines/openapi/StyledOpenApi.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fetching swagger component on loading time docs
  src/layouts/documentation/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

After review v2
  src/components/generic-documentation/index.tsx
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

After review
  content/i18n/en/docs.json
  src/components/generic-documentation/render-engines/markdown/specifications-list/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Changing logic in content-loader
  gatsby/constants.ts
  tools/content-loader/bin/main.ts
  tools/content-loader/src/cdt-serializer/index.ts
  tools/content-loader/src/cdt-serializer/types.ts
  tools/content-loader/src/helpers/index.ts
  tools/content-loader/src/prepare-docs/config.ts
  tools/content-loader/src/prepare-docs/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Uncomment target in Makefile
  Makefile
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update content-loader tool
  tools/content-loader/src/cdt-serializer/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Revert changes in content-loader
  gatsby/constants.ts
  tools/content-loader/bin/main.ts
  tools/content-loader/src/prepare-docs/config.ts
  tools/content-loader/src/prepare-docs/index.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Move github buttons under logo
  src/layouts/default/components/GithubButtons.tsx
  src/layouts/default/components/Header.tsx
  src/layouts/default/components/Navigation.tsx
  src/layouts/default/components/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update styles
  src/layouts/default/components/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

add robots.txt
  gatsby/config-api/plugins.ts
  package-lock.json
  package.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

rebase on upstream
  README.md
  package.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

wording in readme
  README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

revert lib fixes and correct rule
  README.md
  gatsby/config-api/plugins.ts
  package-lock.json
  package.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova, @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

placed await-to-js in package-lock.json
  package-lock.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Add robots txt (#460)
  gatsby/config-api/plugins.ts
  package-lock.json
  package.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Add banner about presentation at API Specs Conf
  content/banner/slides.yml
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Add banner about presentation at API Specs Conf (#462)
  content/banner/slides.yml
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix bug with overflow on x axis of model container in OpenAPI component.
  package-lock.json
  src/components/generic-documentation/render-engines/openapi/StyledOpenApi.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Fix bug with overflow on x axis of model container in OpenAPI component. (#463)
  package-lock.json
  src/components/generic-documentation/render-engines/openapi/StyledOpenApi.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Modify the hour of the talk as it changed
  content/banner/slides.yml
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Modify the hour of the talk as it changed (#464)
  content/banner/slides.yml
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

update styles and remove unneeded ids
  src/layouts/default/components/Header.tsx
  src/layouts/default/components/styled.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update write-case-study instruction
  docs/write-case-study.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova

Move all dependencies from tools to root
  Makefile
  package-lock.json
  package.json
  tools/content-loader/Makefile
  tools/content-loader/package-lock.json
  tools/content-loader/package.json
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update types in content-loader tool
  tools/content-loader/src/github-client/github-client.ts
  tools/content-loader/src/github-client/github-graphql-client.ts
Owners: @michal-hudy, @aerfio, @m00g3n, @derberg, @magicmatatjahu

Update Readme.md of project and project structure in /docs folder
  README.md
  docs/project-structure.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @alexandra-simeonova
