Repository kyma-project/website, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

CODEOWNERS:

* @akucharska @michal-hudy @pkosiec @mjasinski5 @aerfio @derberg @tgorgol @magicmatatjahu

/content/docs/fix-links.json @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj
/content/blog-posts @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj
/content/i18n/en @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj
/content/banner/events.yml @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

Remove xip from release notes highlights (#241)
  content/blog-posts/2019-03-14-release-notes-0.8/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Remove duplicate of blog post
  content/blog-posts/2018-03-14-release-notes-0.8/copy_button.png
  content/blog-posts/2018-03-14-release-notes-0.8/early_adopters.png
  content/blog-posts/2018-03-14-release-notes-0.8/index.md
  content/blog-posts/2018-03-14-release-notes-0.8/link_icon.png
  content/blog-posts/2018-03-14-release-notes-0.8/monitoring_minio.png
  content/blog-posts/2018-03-14-release-notes-0.8/odata.png
  content/blog-posts/2018-03-14-release-notes-0.8/panels.png
  content/blog-posts/2018-03-14-release-notes-0.8/provision_once.png
  content/blog-posts/2018-03-14-release-notes-0.8/scroll_bar_bug.png
  content/blog-posts/2018-03-14-release-notes-0.8/tabs_layout.png
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Remove duplicate of blog post (#242)
  content/blog-posts/2018-03-14-release-notes-0.8/copy_button.png
  content/blog-posts/2018-03-14-release-notes-0.8/early_adopters.png
  content/blog-posts/2018-03-14-release-notes-0.8/index.md
  content/blog-posts/2018-03-14-release-notes-0.8/link_icon.png
  content/blog-posts/2018-03-14-release-notes-0.8/monitoring_minio.png
  content/blog-posts/2018-03-14-release-notes-0.8/odata.png
  content/blog-posts/2018-03-14-release-notes-0.8/panels.png
  content/blog-posts/2018-03-14-release-notes-0.8/provision_once.png
  content/blog-posts/2018-03-14-release-notes-0.8/scroll_bar_bug.png
  content/blog-posts/2018-03-14-release-notes-0.8/tabs_layout.png
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Fix date on blog posts
  content/i18n/en/utils.json
  src/components/blog/BlogPage.tsx
  src/components/blog/Post.tsx
  src/components/blog/PostHeader.tsx
  src/components/blog/queries.ts
  src/components/blog/types.ts
  src/templates/BlogPost.tsx
  src/templates/Docs.tsx
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-03-register-manage-services.md
  content/docs/master/application-connector/docs/08-04-register-secured-api.md
  content/docs/master/application-connector/docs/assets/metadataapi.yaml
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/console/docs/03-02-console-backend-service.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/asset-store/docs/06-02-bucket.md
  content/docs/master/asset-store/docs/06-04-clusterbucket.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/asset-store/docs/03-02-bucket-cr-lifecycle.md
  content/docs/master/asset-store/docs/06-01-asset.md
  content/docs/master/asset-store/docs/06-02-bucket.md
  content/docs/master/asset-store/docs/assets/create-bucket.svg
  content/docs/master/asset-store/docs/assets/delete-bucket.svg
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Fix date on blog posts (#244)
  content/i18n/en/utils.json
  src/components/blog/BlogPage.tsx
  src/components/blog/Post.tsx
  src/components/blog/PostHeader.tsx
  src/components/blog/queries.ts
  src/components/blog/types.ts
  src/templates/BlogPost.tsx
  src/templates/Docs.tsx
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

blogpost editorial
  content/blog-posts/2019-03-15-release-0.9-plan/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Update content/blog-posts/2019-03-15-release-0.9-plan/index.md
  content/blog-posts/2019-03-15-release-0.9-plan/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Blog post with Release 0.9 plan (#239)
  content/blog-posts/2019-03-15-release-0.9-plan/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/06-04-tokenrequest.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-05-trigger-lambda-with-event.md
  content/docs/master/application-connector/docs/08-06-call-registered-service-from-kyma.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-02-local-installation-from-release.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-10-rotate-root-ca.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/logging/docs/02-01-logging.md
  content/docs/master/logging/docs/assets/loki-overview.png
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/helm-broker/docs/01-01-helm-broker.md
  content/docs/master/helm-broker/docs/02-01-helm-broker.md
  content/docs/master/helm-broker/docs/03-01-create-bundles.md
  content/docs/master/helm-broker/docs/03-02-bind-bundles.md
  content/docs/master/helm-broker/docs/03-03-create-bundles-repo.md
  content/docs/master/helm-broker/docs/05-01-helm-broker.md
  content/docs/master/helm-broker/docs/05-02-helm-broker-bundles.md
  content/docs/master/helm-broker/docs/05-03-helm-broker-bundles-binding.md
  content/docs/master/helm-broker/docs/05-04-configure-hb.md
  content/docs/master/helm-broker/docs/assets/010-helm-registration.png
  content/docs/master/helm-broker/docs/assets/011-helm-architecture.png
  content/docs/master/helm-broker/docs/assets/hb-architecture.svg
  content/docs/master/helm-broker/docs/assets/hb-registration.svg
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/monitoring/docs/08-01-monitoring-custom-metrics.md
  content/docs/master/tracing/docs/03-03-http-headers.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/02-01-application-connector.md
  content/docs/master/application-connector/docs/02-03-proxy-service.md
  content/docs/master/application-connector/docs/03-01-ac-security.md
  content/docs/master/application-connector/docs/08-03-register-manage-services.md
  content/docs/master/application-connector/docs/08-04-register-secured-api.md
  content/docs/master/application-connector/docs/assets/003-architecture-proxy-service.svg
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/tracing/docs/02-01-tracing.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/console/docs/06-01-microfrontend.md
  content/docs/master/console/docs/06-02-clustermicrofrontend.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-02-local-installation-from-release.md
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/master/kyma/docs/04-05-aks-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-05-aks-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/security/docs/03-03-graphql-request-flow.md
  content/docs/master/security/docs/assets/002-graphql-request-flow.svg
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-05-aks-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Fix filter for markdown files
  content/docs/0.6/kyma/docs/036-inst-xip.io-domain.md
  content/docs/0.7/kyma/docs/01-06-how-to-start.md
  content/docs/0.7/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.7/kyma/docs/04-07-aks-xip.io-domain.md
  content/docs/0.7/security/docs/02-01-security.md
  content/docs/0.8/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.8/kyma/docs/04-07-aks-xip.io-domain.md
  tools/content-loader/src/documentation/copy.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Fix filter for markdown files (#245)
  content/docs/0.6/kyma/docs/036-inst-xip.io-domain.md
  content/docs/0.7/kyma/docs/01-06-how-to-start.md
  content/docs/0.7/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.7/kyma/docs/04-07-aks-xip.io-domain.md
  content/docs/0.7/security/docs/02-01-security.md
  content/docs/0.8/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.8/kyma/docs/04-07-aks-xip.io-domain.md
  tools/content-loader/src/documentation/copy.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/event-bus/docs/03-03-service-programming-model.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/service-catalog/docs/03-01-resources.md
  content/docs/master/service-catalog/docs/03-02-provisioning-and-binding.md
  content/docs/master/service-catalog/docs/03-03-backup-and-restore.md
  content/docs/master/service-catalog/docs/06-01-service-binding-usage.md
  content/docs/master/service-catalog/docs/06-02-usage-kind.md
  content/docs/master/service-catalog/docs/11-02-catalog-view.md
  content/docs/master/service-catalog/docs/11-03-instances-view.md
  content/docs/master/service-catalog/docs/13-01-service-brokers.md
  content/docs/master/service-catalog/docs/13-02-gcp-broker.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/0.8/kyma/docs/04-06-gke-xip.io-domain.md
  content/docs/0.8/kyma/docs/04-07-aks-xip.io-domain.md
  content/docs/master/asset-store/docs/03-04-asset-metadata-service.md
  content/docs/master/asset-store/docs/03-04-asset-upload-service.md
  content/docs/master/asset-store/docs/assets/asset-metadata-service-openapi.yaml
  content/docs/master/asset-store/docs/assets/asset-upload-service-openapi.yaml
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-09-revoke-cert.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Add blog post about WG Knative closure
  content/blog-posts/2019-03-27-wg-knative-closure/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Add blog post about WG Knative closure (#247)
  content/blog-posts/2019-03-27-wg-knative-closure/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Update index.md
  content/blog-posts/2019-03-27-wg-knative-closure/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Update index.md (#248)
  content/blog-posts/2019-03-27-wg-knative-closure/index.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Publish Kyma documentation on the website
  content/docs/master/asset-store/docs/03-04-asset-metadata-service.md
  content/docs/versions.json
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu

Bump content-loader tool in script prepare-content.sh
  scripts/prepare-content.sh
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @aerfio, @derberg, @tgorgol, @magicmatatjahu
